@keyframes winkMove {
  0% {
    /* opacity: 0; */
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    /* opacity: 1; */
    transform: rotate(-10deg);
  }
}
@keyframes beepingButton {
  0% {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.349);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.349);
  }
}
@keyframes shakeHands {
  0% {
    transform: scale(1.5);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.5);
  }
}

@keyframes disapperAtFirst {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  50% {
    opacity: 0.7;
    transform: translateX(-10rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInDown {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }
  80% {
    transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
:root {
  --neutral: white;
  --black: black;
  --light-grey: #ddd;
  --green: green;
  --blue: blue;
  --darker: #213a40;
  --dark: #31594e;
  --medium: #59d99d;
  --light: #d5f2e2;
  --lighter: #f2f2f2;
}
body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  color: var(--darker);
}
header {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  padding: 20px 200px;
  background-color: #ffe01b;
}
@media screen and (max-width: 900px) {
  header {
    padding: 10px 60px;
  }
}
@media screen and (max-width: 600px) {
  header {
    padding: 10px 30px;
  }
}
header .right {
  display: flex;
  align-items: center;
}
.right-left:hover {
  color: currentColor;
  text-decoration: none;
}
.right-left {
  color: inherit;
  text-decoration: none;
  font-weight: 700;
}
.right-right:hover {
  color: currentColor;
  text-decoration: none;
}
.right-right {
  margin-left: 20px;
  color: inherit;
  text-decoration: none;
  font-weight: 700;
  border: solid 2px currentColor;
  padding: 10px 20px;
  border-radius: 20px;
}
.logo {
  height: 60px;
}
@media screen and (max-width: 600px) {
  .logo {
    height: 40px;
  }
  .right-right {
    padding: 5px 10px;
  }
}

footer {
  padding: 100px 20px 20px;
  background-color: var(--light-grey);
  margin-top: -30px;
}
footer a {
  text-decoration: none;
  color: currentColor;
}
footer a:hover {
  text-decoration: none;
}
.links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 20px;
}
.links a {
  flex: 0 0 40%;
  padding: 20px 10px;
}
.copyright {
  margin-top: 40px;
}
.floating-what-i-worked-on-today,
.floating-what-i-worked-on-today:active,
.floating-what-i-worked-on-today:visited {
  position: fixed;
  bottom: 40px;
  left: 40px;
  background-color: #241c15;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  z-index: 4;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 5px;
  animation: beepingButton 1s infinite ease-in-out;
}
@media screen and (max-width: 600px) {
  .floating-what-i-worked-on-today,
  .floating-what-i-worked-on-today:active,
  .floating-what-i-worked-on-today:visited {
    bottom: 20px;
    left: 20px;
    padding: 5px 10px;
    font-size: 13px;
  }
}

.first {
  padding: 5rem;
  background-color: #ffe01b;
  height: 500px;
  text-align: center;
}
.second {
  padding: 4rem;
  background-color: #241c15;
  min-height: 500px;
  text-align: center;
}
.second-item {
  margin: 4rem 0;
}
.third {
  padding: 1rem;
  min-height: 500px;
  text-align: center;
}

.third-item {
  margin: 4rem 0;
}
.third-item a {
  font-size: 2.5rem;
  font-weight: bold;
  color: #dbd9d2 !important;
  text-decoration: unset;
}

/* .works {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
} */
.work {
  position: relative;
  flex: 0 0 400px;
  height: 300px;
  margin: 10px;
  border: solid 1px var(--light-grey);
  overflow: hidden;
  border-radius: 8px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 1rem;
  background-color: #241c15;
}
.work img {
  width: 100%;
}
.work span {
  font-size: 2.5rem;
  font-weight: bold;
  color: #dbd9d2;
}
.work p {
  font-size: 1.5rem;
}
@media screen and (max-width: 600px) {
  .work {
    flex: 0 0 100%;
  }
}

.basmati {
  color: #dbd9d2;
}
.basmati-fade {
  color: #dbd9d252;
}
.primary-color {
  color: #241c15;
}
.secondary-color {
  color: #ffe01b;
}
.text-big {
  font-size: 5rem;
}
.text-medium {
  font-size: 3rem;
}
.text-small {
  font-size: 1.5rem;
}
.text-x-small {
  font-size: 1rem;
}
.bold {
  font-weight: bold;
}
@media screen and (max-width: 900px) {
  .first,
  .second {
    padding: 1rem;
  }
}
